@import './basic/constants';
@import './components/header';
@import './basic/buttons';
@import './basic/text';
@import './components/footer';
@import './components/pets';
@import './components/media768';

html {
   font-size: 10px;
}
h1, h2 {
   margin: 0;
}
body {
   font-size: 1.6rem;
   box-sizing: border-box;
}
.wrapper {
   max-width: 1200px;
   margin: 0 auto;
}
