.header {
  height: 60px;
  padding-top: 60px;
}

.navigation__list__mobile {
  display: none;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.logo__title h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo__text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 9px 0 0 4px;
}

.navigation__list {
  display: flex;
}

.navigation__link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
  text-decoration: none;
}
.navigation__link_active {
  border-bottom: 3px solid #F1CDB3;
}
.navigation__link:hover {
  color: #FAFAFA;
}

.navigation__list {
  padding-top: 16px;
}
.navigation__list > li:not(:first-child) {
  padding-left: 36px;
}

.navigation__burger {
  display: none;
}

.dark-modal-layer {
  display: none;
  z-index: 2;
}

.start-screen__wrapper {
  display: flex;
  justify-content: space-between;
}

.start-screen__content {
  max-width: 460px;
}

.start-screen__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
  padding-top: 224px;
}

.start-screen__text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
  padding-top: 41px;
  padding-bottom: 41px;
}

.start-screen__image img {
  width: 100%;
  padding-top: 60px;
}

.btn {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn_colored {
  background: #F1CDB3;
  color: #4C4C4C;
  border: none;
}
.btn_colored:hover {
  background: #FDDCC4;
}

.btn-bordered {
  border: 2px solid #F1CDB3;
  background: none;
}
.btn-bordered:hover {
  background: #FDDCC4;
  border: none;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 77px;
  padding-bottom: 98px;
}

.about__content {
  max-width: 430px;
  padding-top: 15px;
}
.about__content h3 {
  color: #545454;
  text-align: start;
}

.about__text {
  color: #4C4C4C;
  padding-top: 24px;
}

.about__image {
  padding-right: 120px;
}

.paragraph-l {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}

h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.pets {
  background: #F6F6F6;
}
.pets__title {
  text-align: center;
  color: #545454;
  padding-top: 80px;
}
.pets__btn {
  display: block;
  margin: 0 auto;
  width: 260px;
}
.pets__button {
  padding-bottom: 100px;
}

.arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  line-height: 335%;
  text-align: center;
  cursor: pointer;
}
.arrow:hover {
  background: #FDDCC4;
  border: none;
  line-height: 360%;
}

.arrow-right {
  transform: rotate(-180deg);
}

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  align-items: center;
  padding-bottom: 60px;
}
.slider__cards {
  display: flex;
  justify-content: space-between;
}

.card.active,
.card.next {
  display: block;
}

.card.next {
  position: absolute;
  width: 270px;
  height: 435px;
  right: -250px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.first {
  order: 1;
}

.second {
  order: 2;
}

.third {
  order: 3;
}

.card {
  animation: 0.4s ease-in-out;
  position: relative;
  display: none;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  margin: 0px 45px;
  cursor: pointer;
}
.card__image {
  display: block;
  margin: 0 auto;
}
.card__btn {
  display: block;
  margin: 0 auto;
  width: 186px;
}
.card__title {
  text-align: center;
  padding: 30px 0 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card .image__wrapper {
  width: 270px;
  height: 270px;
}

.next {
  display: block;
  position: absolute;
}

.previous {
  display: block;
  position: absolute;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: to-right;
}

.from-left {
  animation-name: from-left;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -33.3%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 66.6%;
  }
}
@keyframes to-right {
  from {
    left: 0;
  }
  to {
    left: 33.3%;
  }
}
@keyframes from-left {
  from {
    left: -33.3%;
  }
  to {
    left: 0;
  }
}
.layout-5 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.help__item:nth-child(1) {
  padding-right: 59px;
  padding-bottom: 56px;
}

.help__item:nth-child(2),
.help__item:nth-child(3),
.help__item:nth-child(4) {
  padding: 0 59px;
}

.help__item:nth-child(5) {
  padding-left: 59px;
}

.help__item:nth-child(6) {
  padding-left: 84px;
  padding-right: 59px;
}

.help__item:nth-child(7),
.help__item:nth-child(8) {
  padding: 0 59px;
}

.help__item:nth-child(9) {
  padding-right: 83px;
  padding-left: 59px;
}

.layout-4 {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  max-width: 856px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.help__list {
  max-width: 1030px;
  margin: 0 auto;
}

.help__title {
  color: #545454;
  padding-top: 82px;
  padding-bottom: 58px;
}

.help__image {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
}

.help__item-title {
  color: #545454;
  padding-top: 30px;
}

.help {
  padding-bottom: 100px;
}

.donation {
  background: #F6F6F6;
  padding-bottom: 99px;
}

.donation-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 81px;
}

.donation__content {
  max-width: 380px;
  margin-right: 142px;
}

.donation__image {
  margin-left: 142px;
  padding-top: 10px;
}

.donation__title {
  text-align: start;
  color: #545454;
}

.donation__subtitle {
  color: #545454;
  padding-top: 20px;
  padding-bottom: 20px;
}

.donation__credit {
  width: 30px;
}

.donation__link {
  max-width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  border: none;
  color: #545454;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.donation__link:hover {
  background: #FDDCC4;
}

.donation__credit,
.donation__link h4 {
  margin: 0 7.5px;
}

.donation__text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
  padding-top: 20px;
}

.footer {
  background: url(https://s3-alpha-sig.figma.com/img/3f10/d485/95577108af837b8b441616746225b66e?Expires=1603670400&Signature=Al2CVsN-hh1HMmeO3O5XLqyNcN0PVgSyBq5wk8wkdoX9hxN~cLh6mk3Lsh6sDDhSNBiwmvDqmm-ewg~1WvSUz9ZRdZysCkiLn9NKFPIQ6PUFeTbDOQUKR7Go5YrzP1u30xQum2t~eNP5fp4ywinRAXdS-i~RoYgo8qVuUiU-bwsLsXSziiHzW2yl~z2DKghZieisO-6-DL5QYRw-xinRTrlT17OxekdHvciUartpwoxPyV9t5lnWmPbetGIz1oj0nDAeRJZLkJn4K5w7i81g-s4K6rcD8zvNVf-u-pvGvLDXGDHvMRkCRgcbjjyRNcssuntQb1soiRbPqfpK33RpzQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  flex-wrap: wrap;
}

.footer__title {
  color: #FFFFFF;
  padding-top: 21px;
}
.footer__title h3 {
  text-align: start;
}

.icon-mail {
  height: 40px;
  padding-right: 19px;
}

.icon-phone {
  height: 40px;
  padding-right: 19px;
}

.footer__mail {
  padding-top: 36px;
}

.footer__phone {
  padding-top: 32px;
}

.footer__location {
  width: 302px;
}
.footer__location a {
  text-decoration: none;
}

.footer__mail,
.footer__phone {
  color: #F1CDB3;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}

.footer__city-primary,
.footer__city-secondary {
  padding-top: 33px;
}

.footer__city-primary,
.footer__city-secondary {
  color: #F1CDB3;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon-location {
  height: 32px;
  padding-right: 8px;
  position: relative;
  left: -6px;
}

.footer__subtitle {
  text-align: start;
}
.footer__subtitle:hover {
  color: #FDDCC4;
}

@media screen and (max-width: 1279px) {
  .header {
    padding-top: 30px;
  }

  .header__wrapper {
    display: flex;
    padding: 0 30px;
  }

  .start-screen__title {
    padding-top: 60px;
  }

  .start-screen__content {
    margin: 0 auto;
  }
  .start-screen__content button {
    display: block;
    margin: 0 auto;
  }

  .start-screen__text {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .start-screen__image img {
    width: 74%;
    padding-top: 100px;
    padding-left: 170px;
  }

  .start-screen__wrapper {
    flex-direction: column;
  }

  .about__wrapper {
    flex-direction: column-reverse;
  }

  .about__content {
    margin: 0 auto;
    padding-top: 1px;
  }
  .about__content h3 {
    text-align: start;
  }

  .about__image {
    padding-right: 0;
    margin: 0 auto;
    display: block;
    padding-top: 81px;
  }

  .slider {
    display: flex;
    justify-content: space-between;
  }

  .pets__title {
    padding-top: 80px;
  }

  .arrow:first-child {
    position: relative;
    left: 30px;
  }
  .arrow:last-child {
    position: relative;
    right: 30px;
  }

  .card__image {
    display: block;
    margin: 0 auto;
    height: auto;
  }

  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -50%;
    }
  }
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 50%;
    }
  }
  @keyframes to-right {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  @keyframes from-left {
    from {
      left: -50%;
    }
    to {
      left: 0;
    }
  }
  .layout-5 {
    max-width: 692px;
    margin: 0 auto;
  }

  .layout-5 .help__item {
    width: 33%;
    padding: 0;
    padding-bottom: 55px;
  }

  .donation-wrapper {
    flex-direction: column-reverse;
    padding-top: 26px;
  }

  .donation__content {
    margin: 0 auto;
  }

  .donation__image {
    margin-left: 0;
  }

  .donation__image img {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
  }

  .footer-wrapper {
    justify-content: space-evenly;
    padding-top: 10px;
  }

  .footer__image {
    padding-top: 56px;
  }
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
    line-height: 130%;
    text-align: center;
  }

  h4 {
    font-size: 1.5rem;
  }

  .navigation {
    display: flex;
    align-items: center;
    position: static;
    left: -43px;
  }

  .navigation__list {
    display: none;
  }

  .logo {
    position: relative;
    z-index: 1001;
  }

  .navigation__list__mobile {
    background: #292929;
    width: 320px;
    height: 822px;
    position: fixed;
    top: -16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: -800px;
    transition: right 0.5s;
    z-index: 1000;
  }

  .header .navigation__list__mobile li {
    padding: 0;
  }

  .navigation__list__mobile_active {
    right: 0;
    transition: right 0.5s;
  }

  .navigation__link {
    font-size: 3.2rem;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: fit-content;
  }

  .navigation__burger_active {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }

  .header .header__wrapper {
    max-width: 94%;
    padding: 0;
  }

  .navigation__burger {
    position: absolute;
    right: 54px;
    z-index: 1000;
    display: block;
    height: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: transform 0.5s;
  }

  .burger__line {
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
  }

  .start-screen__image img {
    width: 81%;
    padding-top: 105px;
    padding-left: 50px;
  }

  .start-screen__title {
    font-size: 2.5rem;
    letter-spacing: 0.06em;
    text-align: center;
  }

  .start-screen__text {
    text-align: center;
    margin: 0 auto;
    max-width: 95%;
  }

  .about__wrapper {
    padding-top: 40px;
    padding-bottom: 42px;
  }

  .about__content {
    max-width: 84%;
  }
  .about__content h3 {
    text-align: center;
  }
  .about__content p {
    text-align: justify;
  }

  .about__image {
    padding-top: 39px;
  }
  .about__image img {
    width: 87%;
    margin: 0 auto;
    display: block;
  }

  .pets__title {
    padding-top: 42px;
  }

  .slider {
    justify-content: center;
    position: relative;
    z-index: 0;
    padding-top: 42px;
    padding-bottom: 114px;
  }

  .arrow:first-child {
    position: absolute;
    top: 497px;
    left: 21.3%;
  }

  .arrow:last-child {
    position: absolute;
    top: 497px;
    right: 21.2%;
  }

  .pets__button {
    padding-bottom: 42px;
  }

  .card {
    margin: 0 15px;
  }

  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  @keyframes to-right {
    from {
      left: 0;
    }
    to {
      left: 100%;
    }
  }
  @keyframes from-left {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }
  .help {
    padding-bottom: 12px;
  }

  .help__title {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .layout-5 {
    justify-content: flex-start;
  }
  .layout-5 .help__item {
    width: 50%;
    padding-bottom: 30px;
  }

  .help__image {
    width: 50px;
    height: 50px;
  }

  .help__item-title {
    padding-top: 20px;
  }

  .donation {
    padding-bottom: 42px;
  }

  .donation__title {
    text-align: center;
  }

  .donation .donation-wrapper {
    padding-top: 42px;
    margin: 0 auto;
    max-width: 87%;
  }

  .donation__image img {
    width: 94%;
    padding-top: 31px;
  }

  .donation__subtitle {
    letter-spacing: 0;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .donation__text {
    text-align: justify;
  }

  .footer__title h3 {
    text-align: center;
  }
  .footer__title h3 br {
    display: none;
  }

  .footer-wrapper {
    padding-top: 9px;
  }

  .footer__mail,
.footer__phone {
    justify-content: center;
  }
  .footer__mail h4,
.footer__phone h4 {
    font-size: 2rem;
  }

  .footer__location {
    width: 294px;
  }
  .footer__location .footer__title h3 {
    padding-top: 15px;
  }

  .footer__city-primary,
.footer__city-secondary {
    padding-top: 40px;
  }
  .footer__city-primary h4,
.footer__city-secondary h4 {
    font-size: 2rem;
  }

  .footer__image {
    padding-top: 38px;
  }
  .footer__image img {
    width: 87%;
    display: block;
    margin: 0 auto;
  }
}
html {
  font-size: 10px;
}

h1, h2 {
  margin: 0;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-for-bg {
  background: url(https://s3-alpha-sig.figma.com/img/3f10/d485/95577108af837b8b441616746225b66e?Expires=1603670400&Signature=Al2CVsN-hh1HMmeO3O5XLqyNcN0PVgSyBq5wk8wkdoX9hxN~cLh6mk3Lsh6sDDhSNBiwmvDqmm-ewg~1WvSUz9ZRdZysCkiLn9NKFPIQ6PUFeTbDOQUKR7Go5YrzP1u30xQum2t~eNP5fp4ywinRAXdS-i~RoYgo8qVuUiU-bwsLsXSziiHzW2yl~z2DKghZieisO-6-DL5QYRw-xinRTrlT17OxekdHvciUartpwoxPyV9t5lnWmPbetGIz1oj0nDAeRJZLkJn4K5w7i81g-s4K6rcD8zvNVf-u-pvGvLDXGDHvMRkCRgcbjjyRNcssuntQb1soiRbPqfpK33RpzQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  width: 100%;
}

.dark-modal-layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0;
  transition: opacity 0.5s;
}

/*# sourceMappingURL=style.css.map */
